// colors 
$green: #2AC04F
$grey: #c4c4c4
$mint: #F1FFF4
$border: #EDEDED
$white: #fff
$checkbox: #F8FDF9
$blue: #336699
$main-clr: #3B3B3B
// colors

// fonts
@font-face 
    font-family: IBM Plex Sans
    src: url(IBMPlexSans-Regular.ttf)

// fonts

// basic
*, :after, :before 
    box-sizing: inherit
html 
    scroll-behavior: smooth !important
body 
    font-family: 'IBM Plex Sans', sans-serif !important
    color: $main-clr !important
    padding-top: 1rem


section 
    padding: 5rem
h1, h2, h3
    font-family: IBM Plex Serif

h1
    font-size: 50px !important
h2 
    font-size: 48px !important
    width: 42vw !important
h3 
    font-size: 26 !important
h4 
    font-size: 20px !important

a 
    text-decoration: none !important
    &:hover
        color: inherit!important

// basic

// helpful classes
.blue
    color: $blue
.green
    color: $green
.bold
    font-weight: bold
.bold-500
    font-weight: 500 !important
.semi-bold 
    font-weight: 600 !important
label 
    margin-bottom: 0 !important
input, select 
    outline: none
.cursor-pointer
    cursor: pointer!important
.font-13
    font-size: 13px
.font-26 
    font-size: 26px
.font-43
    font-size: 43px
// helpful classes


// buttons

.button 
    display: inline-block
    padding: 1.2rem 2.6rem
    transition: all .3s
    background: $green
    color: $white
    border: 1px solid $green
    height: auto
    border-radius: .2rem
    &:hover
        background: #0eaf36
        color: $white !important
    &.outline 
        background-color: transparent
        padding: 0.8rem 1.5rem
        border-color: $green
        color: $green
    &.has-auto-padding 
        padding-left: 1.5rem
        padding-right: 1.5rem
        text-align: center
    &.outline:hover
        background: $green
        border-color: $green 
        color: $white !important
    &.disabled
        border-color: transparent
        color: #707070
        background: #ECECEC
        padding: 1.2rem 4.9rem
        cursor: default
        &:hover
            color: #707070 !important

// buttons

// pseudo numbers
.calculator-title
    position: relative
    &:before
        font-size: 1.5rem
        color: #BCE5CC
        position: absolute
        left: -2.2rem
        top: -5px
    &.first::before
        content: "01"
    &.second::before
        content: "02"
    &.third::before
        content: "03"
    &.fourth::before
        content: "04"
.form-control:focus 
    box-shadow: 0 0 0 0.2rem #00ff1e40!important
// pseudo numbers
    
// header 
.sticky
    position: fixed
    z-index: 3
    background: $white
    width: 100%
    top: 0
    padding: 0.8rem
.separator
    font-weight: 300
    font-size: 25px
    color: $grey
.back-to-top
    position: fixed
    right: 2rem
    bottom: 1rem
    z-index: 2
#scroll img 
    transition: .3s ease-in-out
#scroll img:hover
    opacity: .8

// header 

// calc 

.bgc 
    background: $mint
    &::before
        content: url('images/shape1.png')
        position: absolute
        border-radius: 10px
        right: 0
        top: 12rem

// checkbox
.box 
    position: relative
    background-color: #fff
    border-radius: .2rem
    box-shadow: 0 0 2rem 0 hsla(0,0%,46.3%,.1)
.warning 
    position: absolute
    left: 6rem

.check 
    display: flex
    align-items: center
    position: relative
    border: 1px solid $border
    border-radius: 0.2rem
    cursor: pointer
    padding: 0.6rem 1.5rem
    &:hover
        border: 1px solid #333
        transition: all .3s
    input 
        position: absolute
        opacity: 0
        cursor: pointer
.check.selected
    background: $checkbox
.checkmark 
    position: absolute
    left: 0
    height: 15px
    width: 15px
    margin-left: 0.3rem
    border: 1px solid $grey
    border-radius: 50%

.check input:checked ~ .checkmark 
    background-color: $white
    border: 5px solid $green
    transition: .2s linear
.checkmark:after 
    content: ""
    position: absolute
    display: none


.check input:checked ~ .checkmark:after 
    display: block
// checkbox


// Radio Group
.radio-group
    input
        display: none
        &:checked + label.toggle::after
            content: "|"
            position: absolute
            left: 60%
            font-size: 19px
            background: #2AC04F
            color: #fff
            transition: all .3s
        &:checked + .toggle::before
            background-color: #CFF0DC
    label.toggle
        &::before
            content: ''
            display: flex
            width: 60px
            height: 22px
            background: #ececec
            position: relative
            border-radius: 10px
            justify-content: center
        &::after
            content: "O"
            display: flex
            width: 30px
            height: 30px
            position: absolute
            border-radius: 100%
            top: -0.3rem
            left: 0
            color: #707070
            background: #fff
            font-size: 19px
            justify-content: center
            transition: all .3s

// Select Group
.select-group
    display: flex
    div
        width: 75%
select.arrow
    width: 25%
    height: 2rem
    padding-left: 0.3rem
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    background-image: url('images/arrow.svg')
    background-repeat: no-repeat
    background-size: 15px
    background-position: 30px center
    border: 1px solid #E1E1E1
    cursor: pointer


// contacts
.contacts 
    background: #F8FDF9
.input-field 
    border: none
.input-container
    div
        position: relative
        border-radius: .2rem
        display: inline-block
        padding-left: 0.8rem
        padding-bottom: 1rem
        .form-control 
            width: 15rem!important
            border: 1px solid #E1E1E1
            text-indent: 15px
        .form-control:focus 
            color: #495749
            background-color: #fff  
            border-color: #80ff80
            outline: 0
            box-shadow: 0 0 0 0.2rem #00ff1e40
.contact
    position: absolute
    top: 13px
    left: 22px
    width: 13px
.input-container input::placeholder 
    color: #E1E1E1

// contacts

    
// calc

// footer
.svg 
    img 
        padding: 0.4rem
        transition: .3s ease-in-out
        &:hover
            opacity: .8
.shape2 
    position: absolute
    right: 0rem
    top: -1rem
    z-index: -1

// Responsive
// MediaQ
@media  ( max-width: 1320px )
    .hero-img
        width: 100% !important
// @media (   max-width: 1200px )
//     .radio-group 
//         flex-direction: column
//         input
//             &:checked + label.toggle::after
//                 left: 20%
//     .input-container div
//         margin: 0.5rem
@media (   max-width: 990px )
    .box
        div
            padding: 0.2rem
    select.arrow 
        width: 10%
@media (   max-width: 767px )
    select.arrow 
        width: 14%
    .select-group 
        margin: 0.5rem
    .row .check
        margin: 0.5rem
    .warning 
        display: none
    h2 
        width: unset
    .radio-group 
        flex-direction: row !important
    .back-to-top 
        display: none
@media (   max-width: 576px )
    section 
        padding: 0
    .contacts h4 
        width: 100% !important
    .sticky
        position: unset
        .d-flex
            flex-direction: column
            align-items: center
            div 
                padding: 0.4rem 0
    h2
        width: 100% !important
    .button 
        padding: 0.8rem !important
    
// MediaQ


// modal 

.modal-header 
    background: $mint
    justify-content: center
    font-family: IBM Plex Serif
    position: sticky 
    top: 0
    z-index: 1000
    
.table
    max-height: 610px
    overflow-y: scroll
    overflow-x: hidden
.table::-webkit-scrollbar 
	width: 5.2px
.table::-webkit-scrollbar-track 
	background: #c9c4c4
.table::-webkit-scrollbar-thumb 
	background: $mint 
.table::-webkit-scrollbar-thumb:hover 
	background: #c4fad0
    
.bl
    background: #f5f5f1
.gr 
    background: $mint
.modal-table 
    ul
        margin: 0.5rem 2rem
        padding: 0 !important
        box-shadow: 0 0 5px #caca54, 0 0 5px $mint 
        transition: 0.3s all
        &:hover
            box-shadow: 0 0 5px #cccc54, 0 0 5px $green 
            transition: 0.3s all
        li 
            display: flex
            justify-content: space-between
            padding: 0.2rem
            box-shadow: 0 0 1px #cccc54, 0 0 1px $mint
            &:hover
                box-shadow: 0 0 1px#0f0f0c
        span 
            padding: 0 1.5rem 0 1rem
            font-weight: 500
        &::first-child
            font-weight: 800
.close
    display: contents
    color: $main-clr !important
.close:focus
    outline: none !important