@font-face {
  font-family: IBM Plex Sans;
  src: url(IBMPlexSans-Regular.ttf);
}

*, :after, :before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  color: #3B3B3B !important;
  padding-top: 1rem;
}

section {
  padding: 5rem;
}

h1, h2, h3 {
  font-family: IBM Plex Serif;
}

h1 {
  font-size: 50px !important;
}

h2 {
  font-size: 48px !important;
  width: 42vw !important;
}

h3 {
  font-size: 26 !important;
}

h4 {
  font-size: 20px !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: inherit !important;
}

.blue {
  color: #336699;
}

.green {
  color: #2AC04F;
}

.bold {
  font-weight: bold;
}

.bold-500 {
  font-weight: 500 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

label {
  margin-bottom: 0 !important;
}

input, select {
  outline: none;
}

.cursor-pointer {
  cursor: pointer !important;
}

.font-13 {
  font-size: 13px;
}

.font-26 {
  font-size: 26px;
}

.font-43 {
  font-size: 43px;
}

.button {
  display: inline-block;
  padding: 1.2rem 2.6rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #2AC04F;
  color: #fff;
  border: 1px solid #2AC04F;
  height: auto;
  border-radius: .2rem;
}

.button:hover {
  background: #0eaf36;
  color: #fff !important;
}

.button.outline {
  background-color: transparent;
  padding: 0.8rem 1.5rem;
  border-color: #2AC04F;
  color: #2AC04F;
}

.button.has-auto-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
}

.button.outline:hover {
  background: #2AC04F;
  border-color: #2AC04F;
  color: #fff !important;
}

.button.disabled {
  border-color: transparent;
  color: #707070;
  background: #ECECEC;
  padding: 1.2rem 4.9rem;
  cursor: default;
}

.button.disabled:hover {
  color: #707070 !important;
}

.calculator-title {
  position: relative;
}

.calculator-title:before {
  font-size: 1.5rem;
  color: #BCE5CC;
  position: absolute;
  left: -2.2rem;
  top: -5px;
}

.calculator-title.first::before {
  content: "01";
}

.calculator-title.second::before {
  content: "02";
}

.calculator-title.third::before {
  content: "03";
}

.calculator-title.fourth::before {
  content: "04";
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #00ff1e40 !important;
          box-shadow: 0 0 0 0.2rem #00ff1e40 !important;
}

.sticky {
  position: fixed;
  z-index: 3;
  background: #fff;
  width: 100%;
  top: 0;
  padding: 0.8rem;
}

.separator {
  font-weight: 300;
  font-size: 25px;
  color: #c4c4c4;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  z-index: 2;
}

#scroll img {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#scroll img:hover {
  opacity: .8;
}

.bgc {
  background: #F1FFF4;
}

.bgc::before {
  content: url("images/shape1.png");
  position: absolute;
  border-radius: 10px;
  right: 0;
  top: 12rem;
}

.box {
  position: relative;
  background-color: #fff;
  border-radius: .2rem;
  -webkit-box-shadow: 0 0 2rem 0 rgba(118, 118, 118, 0.1);
          box-shadow: 0 0 2rem 0 rgba(118, 118, 118, 0.1);
}

.warning {
  position: absolute;
  left: 6rem;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1px solid #EDEDED;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
}

.check:hover {
  border: 1px solid #333;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check.selected {
  background: #F8FDF9;
}

.checkmark {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  margin-left: 0.3rem;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
}

.check input:checked ~ .checkmark {
  background-color: #fff;
  border: 5px solid #2AC04F;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.radio-group input {
  display: none;
}

.radio-group input:checked + label.toggle::after {
  content: "|";
  position: absolute;
  left: 60%;
  font-size: 19px;
  background: #2AC04F;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.radio-group input:checked + .toggle::before {
  background-color: #CFF0DC;
}

.radio-group label.toggle::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 22px;
  background: #ececec;
  position: relative;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio-group label.toggle::after {
  content: "O";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 100%;
  top: -0.3rem;
  left: 0;
  color: #707070;
  background: #fff;
  font-size: 19px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.select-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-group div {
  width: 75%;
}

select.arrow {
  width: 25%;
  height: 2rem;
  padding-left: 0.3rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 30px center;
  border: 1px solid #E1E1E1;
  cursor: pointer;
}

.contacts {
  background: #F8FDF9;
}

.input-field {
  border: none;
}

.input-container div {
  position: relative;
  border-radius: .2rem;
  display: inline-block;
  padding-left: 0.8rem;
  padding-bottom: 1rem;
}

.input-container div .form-control {
  width: 15rem !important;
  border: 1px solid #E1E1E1;
  text-indent: 15px;
}

.input-container div .form-control:focus {
  color: #495749;
  background-color: #fff;
  border-color: #80ff80;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #00ff1e40;
          box-shadow: 0 0 0 0.2rem #00ff1e40;
}

.contact {
  position: absolute;
  top: 13px;
  left: 22px;
  width: 13px;
}

.input-container input::-webkit-input-placeholder {
  color: #E1E1E1;
}

.input-container input:-ms-input-placeholder {
  color: #E1E1E1;
}

.input-container input::-ms-input-placeholder {
  color: #E1E1E1;
}

.input-container input::placeholder {
  color: #E1E1E1;
}

.svg img {
  padding: 0.4rem;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.svg img:hover {
  opacity: .8;
}

.shape2 {
  position: absolute;
  right: 0rem;
  top: -1rem;
  z-index: -1;
}

@media (max-width: 1320px) {
  .hero-img {
    width: 100% !important;
  }
}

@media (max-width: 990px) {
  .box div {
    padding: 0.2rem;
  }
  select.arrow {
    width: 10%;
  }
}

@media (max-width: 767px) {
  select.arrow {
    width: 14%;
  }
  .select-group {
    margin: 0.5rem;
  }
  .row .check {
    margin: 0.5rem;
  }
  .warning {
    display: none;
  }
  h2 {
    width: unset;
  }
  .radio-group {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .back-to-top {
    display: none;
  }
}

@media (max-width: 576px) {
  section {
    padding: 0;
  }
  .contacts h4 {
    width: 100% !important;
  }
  .sticky {
    position: unset;
  }
  .sticky .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sticky .d-flex div {
    padding: 0.4rem 0;
  }
  h2 {
    width: 100% !important;
  }
  .button {
    padding: 0.8rem !important;
  }
}

.modal-header {
  background: #F1FFF4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: IBM Plex Serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.table {
  max-height: 610px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table::-webkit-scrollbar {
  width: 5.2px;
}

.table::-webkit-scrollbar-track {
  background: #c9c4c4;
}

.table::-webkit-scrollbar-thumb {
  background: #F1FFF4;
}

.table::-webkit-scrollbar-thumb:hover {
  background: #c4fad0;
}

.bl {
  background: #f5f5f1;
}

.gr {
  background: #F1FFF4;
}

.modal-table ul {
  margin: 0.5rem 2rem;
  padding: 0 !important;
  -webkit-box-shadow: 0 0 5px #caca54, 0 0 5px #F1FFF4;
          box-shadow: 0 0 5px #caca54, 0 0 5px #F1FFF4;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.modal-table ul:hover {
  -webkit-box-shadow: 0 0 5px #cccc54, 0 0 5px #2AC04F;
          box-shadow: 0 0 5px #cccc54, 0 0 5px #2AC04F;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.modal-table ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2rem;
  -webkit-box-shadow: 0 0 1px #cccc54, 0 0 1px #F1FFF4;
          box-shadow: 0 0 1px #cccc54, 0 0 1px #F1FFF4;
}

.modal-table ul li:hover {
  -webkit-box-shadow: 0 0 1px #0f0f0c;
          box-shadow: 0 0 1px #0f0f0c;
}

.modal-table ul span {
  padding: 0 1.5rem 0 1rem;
  font-weight: 500;
}

.modal-table ul::first-child {
  font-weight: 800;
}

.close {
  display: contents;
  color: #3B3B3B !important;
}

.close:focus {
  outline: none !important;
}
/*# sourceMappingURL=style.css.map */