@font-face {
  font-family: IBM Plex Sans;
  src: url(IBMPlexSans-Regular.ttf);
}

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  padding-top: 1rem;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section {
  padding: 5rem;
}

h1, h2, h3 {
  font-family: IBM Plex Serif;
}

h1 {
  font-size: 50px !important;
}

h2 {
  font-size: 48px !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: inherit !important;
}

.green {
  color: #2AC04F;
}

.bold {
  font-weight: bold;
}

.bold-500 {
  font-weight: 500;
}

.font-13 {
  font-size: 13px;
}

label {
  margin-bottom: 0 !important;
}

input, select {
  outline: none;
}

.button {
  display: inline-block;
  padding: 0.8rem 3rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #2AC04F;
  color: #fff;
  border: 1px solid #2AC04F;
  height: auto;
  border-radius: .3rem;
}

.button:hover {
  background: #fff;
  color: #2AC04F;
}

.button.outline {
  background-color: transparent;
  border-color: #2AC04F;
  color: #2AC04F;
}

.button.has-auto-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
}

.button.outline:hover {
  background: #2AC04F;
  border-color: #2AC04F;
  color: #fff;
}

.button.is-primary {
  border-color: transparent;
  color: #fff;
  padding: 0.8rem 5.5rem;
}

.button.is-primary:hover {
  background: #0eaf36;
  color: #fff !important;
}

.title1::before {
  content: '01';
  font-size: 1.5rem;
  color: #BCE5CC;
  position: absolute;
  left: -1.3rem;
  top: -0.6rem;
}

.title2::before {
  content: '02';
  font-size: 1.5rem;
  color: #BCE5CC;
  position: absolute;
  right: 36rem;
  top: -0.6rem;
}

.title3::before {
  content: '03';
  font-size: 1.5rem;
  color: #BCE5CC;
  position: absolute;
  left: -2.2rem;
  top: 1.7rem;
}

.title4::before {
  content: '04';
  font-size: 1.5rem;
  color: #BCE5CC;
  position: absolute;
  left: 22rem;
  bottom: 0.6rem;
}
/*# sourceMappingURL=base.css.map */