.separator {
  font-weight: 300;
  font-size: 25px;
  color: #c4c4c4;
}

.bgc {
  background: #F1FFF4;
}

.bgc::before {
  content: url("images/shape1.png");
  position: absolute;
  border-radius: 10px;
  right: 0;
  top: 16rem;
}

.box {
  position: relative;
  background-color: #fff;
  border-radius: .3rem;
  -webkit-box-shadow: 0 0 2rem 0 rgba(118, 118, 118, 0.1);
          box-shadow: 0 0 2rem 0 rgba(118, 118, 118, 0.1);
}

.warning {
  position: absolute;
  left: 6rem;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1px solid #EDEDED;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
}

.check:hover {
  border: 1px solid #333;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  margin-left: 0.3rem;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
}

.check input:checked ~ .checkmark {
  background-color: #fff;
  border: 5px solid #2AC04F;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.radio-group input {
  display: none;
}

.radio-group input:checked + label.toggle::after {
  content: "|";
  position: absolute;
  left: 60%;
  font-size: 19px;
  background: #2AC04F;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.radio-group input:checked + .toggle::before {
  background-color: #CFF0DC;
}

.radio-group label.toggle {
  position: relative;
  cursor: pointer;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

.radio-group label.toggle::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 22px;
  background: #ececec;
  position: relative;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio-group label.toggle::after {
  content: "O";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 100%;
  top: -0.3rem;
  left: 0;
  color: #707070;
  background: #fff;
  font-size: 19px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.arrow {
  width: 55px;
  padding-left: 0.3rem;
}

select.arrow {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 30px center;
  border: 1px solid #E1E1E1;
}

select {
  width: 3rem;
  height: 2rem;
}

.contacts {
  background: #F8FDF9;
}

.contacts .contact img {
  width: 11px;
}

.input-field {
  border: none;
  width: 15rem;
}

.input-container div {
  display: inline-block;
  border: 1px solid #E1E1E1;
  padding: 0.5rem;
  background: #fff;
}

.svg img {
  padding: 0.4rem;
}

.shape2 {
  position: absolute;
  right: 2rem;
  top: -1rem;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */