// header 
.separator
    font-weight: 300
    font-size: 25px
    color: $grey
// header 

// calc 

.bgc 
    background: $mint
    &::before
        content: url('images/shape1.png')
        position: absolute
        border-radius: 10px
        right: 0
        top: 16rem

// checkbox
.box 
    position: relative
    background-color: #fff
    border-radius: .3rem
    box-shadow: 0 0 2rem 0 hsla(0,0%,46.3%,.1)
.warning 
    position: absolute
    left: 6rem

.check 
    display: flex
    align-items: center
    position: relative
    border: 1px solid $border
    border-radius: 0.3rem
    cursor: pointer
    padding: 0.6rem 1.5rem
    &:hover
        border: 1px solid #333
        transition: all .3s
    input 
        position: absolute
        opacity: 0
        cursor: pointer
.checkmark 
    position: absolute
    left: 0
    height: 15px
    width: 15px
    margin-left: 0.3rem
    border: 1px solid $grey
    border-radius: 50%

.check input:checked ~ .checkmark 
    background-color: $white
    border: 5px solid $green
    transition: .2s linear
.checkmark:after 
    content: ""
    position: absolute
    display: none


.check input:checked ~ .checkmark:after 
    display: block
// checkbox


// Radio Group
.radio-group
    input
        display: none
        &:checked + label.toggle::after
            content: "|"
            position: absolute
            left: 60%
            font-size: 19px
            background: #2AC04F
            color: #fff
            transition: all .3s
        &:checked + .toggle::before
            background-color: #CFF0DC
    label.toggle
        &::before
            content: ''
            display: flex
            width: 60px
            height: 22px
            background: #ececec
            position: relative
            border-radius: 10px
            justify-content: center
        &::after
            content: "O"
            display: flex
            width: 30px
            height: 30px
            position: absolute
            border-radius: 100%
            top: -0.3rem
            left: 0
            color: #707070
            background: #fff
            font-size: 19px
            justify-content: center
            transition: all .3s

// Radio Group
.arrow 
    width: 55px
    padding-left: 0.3rem
select.arrow
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    background-image: url('images/arrow.svg')
    background-repeat: no-repeat
    background-size: 15px
    background-position: 30px center
    border: 1px solid #E1E1E1
select 
    width: 3rem
    height: 2rem

// contacts
.contacts 
    background: #F8FDF9
    .contact img
        width: 11px
.input-field 
    border: none
    width: 15rem
.input-container div
    display: inline-block
    border: 1px solid #E1E1E1
    padding: 0.5rem
    background: #fff
// contacts
// calc

// footer
.svg 
    img 
        padding: 0.4rem
.shape2 
    position: absolute
    right: 2rem
    top: -1rem
    z-index: -1

