// colors 
$green: #2AC04F
$grey: #c4c4c4
$mint: #F1FFF4
$border: #EDEDED
$white: #fff
$checkbox: #F8FDF9
// colors

// fonts
@font-face 
    font-family: IBM Plex Sans
    src: url(IBMPlexSans-Regular.ttf)

// fonts

// basic
body 
    font-family: 'IBM Plex Sans', sans-serif !important
    padding-top: 1rem

*, :after, :before 
    box-sizing: inherit

section 
    padding: 5rem
h1, h2, h3
    font-family: IBM Plex Serif

h1
    font-size: 50px !important
h2 
    font-size: 48px !important
a 
    text-decoration: none !important
    &:hover
        color: inherit!important
// basic

// helpful classes
.green
    color: $green
.bold
    font-weight: bold
.bold-500
    font-weight: 500
.font-13
    font-size: 13px
label 
    margin-bottom: 0 !important
input, select 
    outline: none

// helpful classes


// buttons

.button 
    display: inline-block
    padding: 0.8rem 3rem
    transition: all .3s
    background: $green
    color: $white
    border: 1px solid $green
    height: auto
    border-radius: .3rem
    &:hover
        background: $white
        color: $green
    &.outline 
        background-color: transparent
        border-color: $green
        color: $green
    &.has-auto-padding 
        padding-left: 1.5rem
        padding-right: 1.5rem
        text-align: center
    &.outline:hover
        background: $green
        border-color: $green 
        color: $white
    &.is-primary
        border-color: transparent
        color: #fff
        padding: 0.8rem 5.5rem
        &:hover
            background: #0eaf36
            color: $white !important

// buttons

// pseudo numbers
.title1::before
    content: '01'
    font-size: 1.5rem
    color: #BCE5CC
    position: absolute
    left: -1.3rem
    top: -0.6rem
.title2::before
    content: '02'
    font-size: 1.5rem
    color: #BCE5CC
    position: absolute
    right: 36rem
    top: -0.6rem
.title3::before
    content: '03'
    font-size: 1.5rem
    color: #BCE5CC
    position: absolute
    left: -2.2rem
    top: 1.7rem
.title4::before
    content: '04'
    font-size: 1.5rem
    color: #BCE5CC
    position: absolute
    left: 22rem
    bottom: 0.6rem
// pseudo numbers